@model AnyukamHorgolta.Models.ViewModels.CategoryVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Category List </h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Create New Category</a>
    </div>
</div>

<br />

@if (Model.Categories.Count() > 0)
{
<div class="p-4 border rounded">
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">      
        <tr class="table-info">
            <th>Category Name</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Categories)
        {
        <tr>
            <td>@Html.DisplayFor(m => item.Name)</td>
            <td>
                <div class="text-center">
                    <a href="/Admin/Category/Upsert/@item.Id" class="btn btn-success text-white" style="cursor:pointer">
                        <i class="fas fa-edit"></i>
                    </a>
                    &nbsp;
                    <button onclick=Delete("/Admin/Category/Delete/@item.Id") class="btn btn-danger text-white" style="cursor:pointer">
                        <i class="fas fa-trash-alt"></i>
                    </button>

                </div>
            </td>
        </tr>
        }  
    </table>
</div>
}

@section Scripts{
    <script>
        function Delete(url) {
            $.ajax({
                type: 'DELETE',
                url: url,
                success: function (data) {
                    location.reload();
                }
            });
        }
    </script>
    <script src="~/js/category.js"></script>
}
